<div class="content" role="main">
  <div *ngIf="isLoading">
    <h3>Our workers are looking for your secret now...</h3>
  </div>
  <div *ngIf="!isLoading">
    <div *ngIf="secretMessage">
        <p>Your recovered secret:</p>
        <textarea [className]="this.isHidden ? 'hidden-text' : ''" id="secretMessage" readonly>{{secretMessage}}</textarea>
    </div>

    <div *ngIf="!secretMessage && !isSystemError">
      <div *ngIf="parameterWarningMesssage.length">
        <h2><b>Unable to process your request</b></h2>
        <div *ngFor="let warning of parameterWarningMesssage">
          {{warning}}
        </div>
      </div>

      <div *ngIf="!parameterWarningMesssage.length">
        <h2><b>Hmmm, we could not retrieve your secret...</b></h2>
        <h3>Either the secret not found, has expired, or has already been recovered – or your key was invalid.</h3>
      </div>
      
    </div>

    <div *ngIf="!secretMessage && isSystemError">
      <h3>An unexpected error has occured. Please try your request again later.</h3>
    </div>
  </div>
  <div style="text-align: center; padding-top: 10px">
    <div *ngIf="secretMessage">
      <button mat-raised-button color="primary" (click)="toggleSecretVisibility()">{{this.isHidden ? 'Show Secret' : 'Hide Secret'}}</button>
    </div>

    <div *ngIf="secretMessage" style="padding-top:2px">
      <button mat-stroked-button color="primary" (click)="copyText()">Copy</button>
    </div>
  
    <div style="padding-top:2px">
      <button mat-raised-button routerLink="/">Back to homepage</button>
    </div>
</div>

</div>