.DS_Store


[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/

**/.DS_Store

*.DotSettings.user

.idea/
*.sln.iml

.cr/
src/spa/.browserslistrc
src/spa/.editorconfig
src/spa/package-lock.json
